.countdown-container {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: middle;
}

.timer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 5px solid rgba(255, 255, 255, 0.3);
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.minutes,
.seconds {
    font-size: 2.5em;
    margin: 10px;
}



.minutes-label,
.seconds-label {
    text-transform: uppercase;
    margin-bottom: 5px;
}

@media (max-width: 800px) {

    .countdown-container {
        max-width: 90%;
    }

    .days-container,
    .hours-container,
    .minutes-container,
    .seconds-container {
        font-size: 0.8em;
        width: 100px;
        height: 100px;
    }
}

.logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
}

.bell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

.hide {
    display: none;
}
.a11yHide {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}
.heading {
    position: absolute;
    top: 17.5%;
    font-size: 48px;
}

.audioInput {
    background-color: rgba(0,0,0,0.5);
    color: #fee;
    height: 24px;
    padding: 10px;
}

#numberForm {
    margin-top: 320px;
    margin-left: 16px;
    font-size: 24px;
}

#audioInput {border: none;box-shadow: none;inset: unset;}


* {
    margin: 0;
    padding: 0;
 }
 
 .navbar {
   background: rgb(51 51 51 / 75%);
   width: 25%;
   max-width: 400px;
   height: 100vh;
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 0;
 }
 
 .navbar ul {
   overflow: hidden;
   list-style-type: none;
   padding-top: 50%;
   margin: 0;
 }
 
 .navbar li {
   display: block;
   margin: 0;
   padding: 5% 50px;
   width: 100%;
 }
 
 .navbar li:hover {
   cursor: pointer;
 }
 
 
 .navbar li a {
   color: #d3e3e3;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   font-size: 1.6em;
   transition: all .5s;
 }
 
 .navbar li:hover {
   cursor: pointer;
   background-color: rgb(206 57 57 / 75%);
   letter-spacing: 10px;
 }
 
 .hamburger {
   margin: 16px;
   right: 0;
   transition: opacity .3s;
   position: absolute;
   top: 0;
   z-index: 1;
   opacity: 0.25;
 }
 
 .hamburger:hover {
   cursor: pointer;
   opacity: .75;
 }
 
 .hamburger .line{
   width: 50px;
   height: 5px;
   background: rgb(236, 66, 66);
   margin: 8px auto;
   transition: all 0.3s ease-in-out;
   border-radius: 5px;
 }
 
 .hamburger .line:nth-child(1) {
   background-color: #a77a33;
 }
 
 .hamburger .line:nth-child(2) {
   background-color: #633200;
 }
 
 .hamburger .line:nth-child(3) {
   background-color: #a77a33;
 }
 
 .hamburger.isactive .line:nth-child(2) {
   opacity: 0;
 }
 
 .hamburger.isactive .line:nth-child(1) {
   transform: translateY(13px) rotate(45deg);
 }
 
 .hamburger.isactive .line:nth-child(3) {
   transform: translateY(-13px) rotate(-45deg);
 }
 
 .navbar {
   transition: all 2s ease-in-out;
 }
 
 .navbar.active {
   display: block;
   animation: fade .5s;
 }
 
 @keyframes fade {
   from{transform: translateX(200px); opacity: 0;}
   to {transform: translateX(0px); opacity: 1;}
 }
 
 
 @media screen and (max-width: 1360px) {
   
   .h1 h1 {
     font-size: 3em;
     left: 35%;
   }
   
   .navbar {
     width: 30%;
   }
   
   .navbar ul {
     padding-left: 0%;
   }
   
   .navbar li {
     padding: 3% 0;
   }
   
   .navbar li a {
     font-size: 1.2em;
   }
   
 }
 
 @media screen and (max-width: 768px) {
   .hamburger {
     float: right;
   }
   
   .h1 h1 {
     left: 23%;
     top: 50%;
     font-size: 1.4em;
   }
   
   .navbar {
   background-color: #333;
   width: 100%;
   height: 45vh;
   display: none;
 }
 
 .navbar ul {
   overflow: hidden;
   list-style-type: none;
   padding-top: 3%;
   padding-left: 30%;
   padding-right: 3%;
   padding-bottom: 3%;
   margin: 0;
 }
 
 .navbar li {
   display: block;
   margin: 0;
   padding: 14px 20px;
   width: 100%;
   transition: background-color .5s;
 }
 
 .navbar li:hover {
   cursor: pointer;
   background-color: #ce3939;
 }
 
 
 .navbar li a {
   color: #d3e3e3;
   text-decoration: none;
   padding: 14px 16px;
   font-family: 'Raleway', sans-serif;
   font-size: 1em;
   transition: all 1s;
 }
 
 .navbar li:hover {
   cursor: pointer;
   background-color: #ce3939;
   letter-spacing: 0px;
 }
 
   
  
 
 }